@{
    ViewData["Title"] = "Home Page";
}

<div onload="Dosomething">
    <a class="btn btn-info" onclick="AddNewUser">Add User</a><br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Full name</th>
                <th>User Type</th>
                <th>Authorise</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="SetUserListing">
            <tr id="LoadingStatus"></tr>
        </tbody>
    </table>
    <div id="sss"></div>

</div>
<script>
   


</script>